{% extends 'base.html' %}
{% load static %}
{% block title %}Profile{% endblock %}

{% block body%}
    <div class="container alert alert-success my-2">
        {% if user_data.username == request.session.user %}
            <h2>Welcome <span style="color:#DC3545;">{{user_data.username}}</span> !</h2>
        {% else %}
            <h2 style="color:#DC3545;">{{user_data.username}}</h2>
        {% endif %}
    </div>

    <div class="container alert alert-success my-2">
        {% if user_posts %}
            {% for post in user_posts %}
            <div class="card">
                <div class="card-body">
                    <h2>{{ post.title }}</h2>
                    <p>{{ post.desc }}</p>
                    <a href="{% url 'file-detail' post.id %}" target="_blank" class="btn btn-outline-warning">View</a>
                    <a href="{% url 'share' post.id %}"  class="btn btn-info">Share</a>
                    {% if user_data.username == request.session.user %}
                        <a href="{% url 'delete' post.id %}" class="btn btn-danger" style="float:right;">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% endfor %}
        {% else %}
            <div class="container">
                <h2>No Posts Yet.</h2>
            </div>
        {% endif %}
    </div>
{% endblock %}